<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/SnakeGame.css">
    <title>Snake Master</title>
</head>
<body>
    <div class="body">
        <div class="show">
            <select class="sel">
                <option class="opt">Low</option>
                <option class="opt">Medium</option>
                <option class="opt">High</option>
            </select>
            <div class="scor" value="0"></div>
            <button class="Start">Start Game</button>
        </div>
        <div class="board"></div>
    </div>
<script src="/static/js/SnakeGame.js"></script> 
</body>
</html>